html,body,div { margin: 0; padding: 0; border: 0; }
ol,ul { list-style: none; margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
header,footer,nav,section,article,hgroup,figure { display: block; }


/*Generic styles*/
body {
	background-color:#eee;
	font-family:tahoma;
	
	/*smooth scaling*/
	transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}
footer {text-align:center;border-top:1px solid #999;}
img {max-width:100%;}
dt,dd {display:block;}

/*layout styles*/
ul { max-width:1080px;margin:0 auto;padding:.25em; }
li { }
.img, .txt { margin:.25em;overflow:hidden; }
img { display:block;max-width:100%;}
@media screen and (min-width: 25em) {
	ul {  }
	li { width: 33.33333%;display:inline-block;vertical-align:top; }
}
@media screen and (min-width: 40em) {
	ul {  }
	li { width: 50%; }
}
@media screen and (min-width: 50em) {
	ul {  }
	li { width: 25%; }
}